mixin form(post, isNew)
  form(action= isNew ? "/posts" : "/posts/#{post.id}" method="post" role="form")
    .form-group
      label(for="post[title]") Title
      input.form-control(type="text" name="post[title]" value=post.title)
    .form-group
      label(for="post[description]") Description
      textarea.form-control(name="post[description]")= post.description
    if !isNew
      input(type="hidden" name="_method" value="put")
    .tags
      each tag in tags
        label.checkbox-inline
          input(type="checkbox" name="post[tags]" value= tag.id
                checked= (!isNew && viewHelpers.isPostContainingTag(post, tag) ? "checked" : undefined))
          = tag.text
    input.btn.btn-default(type="submit" value="send")
