li.post
  a(href="/posts/#{post.id}")
    h2.title= post.title
  span.created_at= viewHelpers.formatDate(post.created_at)
  p.description= post.description
  span.comments.count= post.comments.length
  ul.tags
    each tag in post.tags
      .tag= tag.text
