extends ../layout

block content
  h1.title= post.title
  a(href="/posts/#{post.id}/edit") Edit
  span.created_at= viewHelpers.formatDate(post.created_at)
  p.description= post.description
  #tag-container
    ul.tags
      each tag in post.tags
        li= tag.text
  #comment-container
    ul.comments
      each comment in post.comments
        include ../comment/comment
    ul.errors
    form(action="/posts/#{post.id}/comments" method="POST" role="form")
      .form-group
        label(for="comment[commenter]") Commenter
        input.form-control(type="text" name="comment[commenter]"
              placeholder="your name")
      .form-group
        label(for="comment[body]") Comment
        textarea.form-control(name="comment[body]")
      input.btn.btn-default(type="submit" value="send")

  script.
    post = !{JSON.stringify(post)}
    comments = !{JSON.stringify(post.comments)}
  script(src="/application.js" type="text/javascript")

